body {
    margin: 0;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center (combined with line below) */
    height: 100vh;
    background-image: url('studio-ghibli-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: #c8e1cc;
    border-radius: 15px; /* to round edges of calculator */
    max-height: 600px;
    max-width: 400px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #d2e7d6;
    color: gray;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* gap between rows */
    padding: 25px; /* padding around each button */
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);;
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}